:root {
    --paper-margin: 60px;
    --user-img-speed: 10s;
}

body {
    background: #0c1c27;
    color: #ffffff;
}

a {
    color: #9cdd05;
}

article {
    margin: 50px auto;
    max-width: 900px;
    background: #061621;
    border-radius: 15px;
    padding-bottom: 50px;
    border-color: #9cdd05!important;
    border: 1px solid;
}

div.highlight {
    padding: 3%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #c9c9c9;
}

th {
    background: #f9f9fa;
}

td {
    text-align: center;
    min-width: 80px;
}

td li {
    text-align: start;
}

.article-body-image-wrapper img {
    margin: 15px auto;
    display: block;
    max-width: 100%;
}

table {
    margin: 15px auto;
}

#article-body>* {
    padding: 0 var(--paper-margin);
}

#cover {
    width: 100%;
}

#title {
    margin: 10px var(--paper-margin);
    font-size: 2em;
    display: inline-block;
    padding-bottom: 5px;
    background: var(--my-gradient);
    background-size: 100% 5px;
    background-position: bottom 0 left 0, bottom 5px left 0;
    background-repeat: no-repeat;
}

#author-img {
    border-radius: 50%;
    box-shadow: 0px 0px 7px 3px var(--main-color);
    grid-row: span 3;
}

address {
    margin: 35px var(--paper-margin);
    font-style: normal;
}

address>ul>li>a {
    text-decoration: none;
}

#date {
    margin: 0;
    font-style: normal;
    font-size: 0.9em;
}

address>ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

#author-name {
    font-size: 15px;
}

#twitter::before {
    background-image: url('../icons/twitter.svg');
}

#github::before {
    background-image: url('../icons/github-1.svg');
}

#devto::before {
    background-image: url('../icons/devto.svg');
}

#homepage::before {
    background-image: url('../icons/globe.svg');
}

#tags {
    list-style: none;
    margin: 5px var(--paper-margin);
    padding: 0;
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    width: fit-content;
}

#tags>li {
    background: #0c1c27;
    color: #9cdd05;
    border-radius: 5px;
    padding: 5px;
    min-width: 50px;
    text-align: center;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}